body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.calculator {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  width: 100%;
  background-color: rgb(71, 70, 70);
  font-size: 18px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  color: white;
}

button:hover {
  box-shadow: 2px 2px 8px black;
}

#in1 {
  background-color: #7d7979;
}

#in2 {
  background-color: #ff8c00;
}

#display {
  width: 95.5%;
  height: 60px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  color: black;
  padding-right: 10px;
  border-radius: 5px;
  border: 3px solid black;
  outline: none;
}
